Abstractions
DemoApplication/DemoApplication.Api/bin
DemoApplication/DemoApplication.Api/Logs
DemoApplication/DemoApplication.Api/obj
DemoApplication/DemoApplication.Api/DemoApplication.Api.csproj.user
*.user
DemoApplication/DemoApplication.Api/Properties
DemoApplication/Tests/DemoApplication.framework.tests/obj/Release
DemoApplication/DemoApplication.Claims/obj
DemoApplication/.vs
DemoApplication/DemoApplication.Database/bin
DemoApplication/DemoApplication.Database/obj
DemoApplication/DemoApplication.Api/DemoApplication.api.xml
DemoApplication/DemoApplication.Domain/bin
DemoApplication/DemoApplication.Domain/obj
DemoApplication/DemoApplication.Entitlement/bin
DemoApplication/DemoApplication.Entitlement/obj
DemoApplication/DemoApplication.Enums/bin
DemoApplication/DemoApplication.Enums/obj
DemoApplication/DemoApplication.Factory/bin
DemoApplication/DemoApplication.Factory/obj
DemoApplication/DemoApplication.Framework/bin
DemoApplication/DemoApplication.Framework/obj
DemoApplication/DemoApplication.Models/obj
DemoApplication/DemoApplication.UniqueCodeGenerator/bin
DemoApplication/DemoApplication.UniqueCodeGenerator/obj
DemoApplication/DemoApplication.Validators/bin
DemoApplication/DemoApplication.Validators/obj
DemoApplication/DemoApplication.Web/node_modules
DemoApplication/DemoApplication.Web/.vscode
DemoApplication/DemoApplication.Web/src/.vscode
DemoApplication/Tests/DemoApplication.Entitlement.tests/bin
DemoApplication/Tests/DemoApplication.Entitlement.tests/obj
DemoApplication/Tests/DemoApplication.Factory.tests/bin
DemoApplication/Tests/DemoApplication.Factory.tests/obj
DemoApplication/Tests/DemoApplication.framework.tests/bin
DemoApplication/Tests/DemoApplication.framework.tests/obj
DemoApplication.Api/bin/Debug
DemoApplication.Api/bin
DemoApplication.Api/Logs
DemoApplication.Api/obj
DemoApplication.Api/DemoApplication.api.xml
DemoApplication.Database/bin
DemoApplication.Database/obj
DemoApplication.Domain/bin
DemoApplication.Domain/obj
*bin
*obj
DemoApplication.Web/.vscode
DemoApplication.Web/src/.vscode
/.vs/DemoApplication
