<div class="auth-container authNpw">
    <div class="auth-logo">
        <img src="/assets/images/mivoucher_logo.png" alt="DemoApplication">
    </div>
    <div class="auth-body">
        <div class="form-group">
            <label for="newPassword">New Password</label>
            <input 
                type="password"
                class="form-control"
                id="newPassword"
                placeholder=""
                aria-describedby="NewPassword"
            />
        </div>
        <div class="form-group">
            <label for="confirmNewPassword">Confirm New Password</label>
            <input 
                type="password"
                class="form-control"
                id="confirmNewPassword"
                placeholder=""
                aria-describedby="confirmNewPassword"
            />
        </div>
        <div class="auth-btn">
            <button
                type="submit"
                class="btn btn-primary auth-btn-sm"
            >Submit</button>
        </div>
    </div>
</div>